---
const { title } = Astro.props;
---

<div class="section-container">
  <h1>{title}</h1>
  <hr />
  <div>
    <slot />
  </div>
</div>

<style>
  .section-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 1rem;
    font-weight: 900;
  }

  hr {
    border-color: rgb(127, 127, 127);
    border-style: solid;
    border-radius: 999px;
    border-width: 1px;
    width: 90%;
    margin: 0 auto;
  }
</style>
