---
import Layout from "../layouts/Layout.astro";

// Blocks
import Contact from "../block/Contact.astro";
import Objective from "../block/Objective.astro";
import Education from "../block/Education.astro";
import WorkExperience from "../block/WorkExperience.astro";
import GraduationProject from "../block/GraduationProject.astro";
import RelevantSkills from "../block/RelevantSkills.astro";
import Projects from "../block/Projects.astro";
import Leadership from "../block/Leadership.astro";
import ProgrammingSkill from "../block/ProgrammingSkill.astro";
---

<Layout title="Ahmed Amer Resume">
  <!-- <video autoplay muted loop id="myVideo">
    <source src="Code.mp4" type="video/mp4" />
  </video> -->
  <div class="resume">
    <div class="page">
      <h1 class="name">Ahmed Mohammed Amer</h1>
      <Contact />
      <Objective />
      <RelevantSkills />
      <Education />
      <GraduationProject />
      <Leadership />
    </div>

    <div class="page">
      <WorkExperience />
      <Projects />
      <ProgrammingSkill />
    </div>
  </div>

  <a
    class="download"
    href="Ahmed-Mohammed-Amer-Resume.pdf"
    download="Ahmed-Mohammed-Amer-Resume"
  >
    <img src="download.png" alt="download" />
  </a>
</Layout>

<style is:global>
  .name {
    text-align: center;
    margin-bottom: 0.8rem;
  }

  p,
  a {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  body {
    background: #f4f4f4;
    width: 100%;
    min-height: 100%;
    padding-top: 5.7rem;
  }

  video {
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .download {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999px;

    padding: 1rem;
    border-radius: 999px;
    border: 1px solid var(--scroll-thumb);
    background: var(--scroll-thumb);
  }

  .download > img {
    width: 1.5rem;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    margin: 2rem 1rem;
    background-color: white;
    aspect-ratio: 210/297;
    /* overflow: hidden; */
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  /* Tablets */
  @media screen and (min-width: 600px) {
    .page {
      margin: 4rem;
    }

    body {
      padding-top: 3rem;
    }
  }

  /* large screens */
  @media screen and (min-width: 950px) {
    .page {
      margin: 2rem;
      flex-basis: 0;
      flex-grow: 1;
    }

    body {
      padding: 4rem;
    }

    .resume {
      display: flex;
    }
  }

  @media print {
    video,
    .download {
      display: none;
    }
  }
</style>
