---
import Layout from "../layouts/Layout.astro";
import { POSITIONS } from "../constants";
---

<Layout title="Ahmed Amer Resume">
  <div class="flex items-center justify-center">
    <ul class="grid grid-row-3 gap-3 p-4">
      {
        Object.entries(POSITIONS).map(([key, value]) => (
          <li>
            <a
              class="bg-green-500 text-center px-4 w-full inline-block text-base md:text-lg py-2 rounded text-white hover:bg-green-600 active:bg-green-700 transition-all font-bold"
              href={value}
            >
              {key}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
