---
import Section from "../layouts/Section.astro";
import Bidirectional from "../components/Bidirectional.astro";
---

<Section title="Education">
  <Bidirectional left="Ain Shams University" right="Cairo" />
  <Bidirectional
    left="Bachelor Degree in Communication Engineering"
    right="June 2023"
  />
</Section>
