---
import Bidirectional from "../components/Bidirectional.astro";
import Point from "../components/Point.astro";
import Section from "../layouts/Section.astro";
---

<Section title="Graduation Project (Grade: A+)">
  <!-- Summary -->
  <p>
    The project revolved around creating a smart solution that would improve the
    campus by utilizing the Internet of Things (IoT). I decided implemented a
    system that automatically registers students for attendance, eliminating the
    need to waste time or disturb lectures.
  </p>

  <!-- Face recognition -->
  <Bidirectional left="Image Processing (Facial Recognition)" />
  <Point
    pointsList={[
      "Detect the faces in a given image using openCV and the HOG algorithm",
      "Extract key features from each face in submitted images using an OpenFace pertained model",
    ]}
  />

  <!-- Frontend -->
  <Bidirectional
    left="Frontend Application (React)"
    right="Live link"
    href="https://asu-auto-attendance.vercel.app/"
  />
  <Point
    pointsList={[
      "Student upload images used for the facial recognition machine learning model by OpenFace",
      "Create dashboard for the users to view the attendance for each lecture and attendance rate",
      "Protect routes for logged in users and special routes for admins",
      "Admin access to create courses manually adjust attendance if needed",
    ]}
  />

  <!-- Backend -->
  <Bidirectional left="Backend Server (FastAPI)" />
  <Point
    pointsList={[
      "Design a Restful API that handles the incoming request",
      "Design a backend that could handel the various request that is submitted by the user",
      "Manage users login and sign up request using Json Web Tokens for authorization",
      "Create middleware to process the images and store the identifying feature for each user",
      "Create routes for login, sign up, authentication, upload image, add or delete courses, and IP cameras",
    ]}
  />

  <!-- Deployment -->
  <Bidirectional left="Deployment (Azure)" />
  <Point
    pointsList={[
      "Frontend (React) is deployed on vercel.com",
      "Set Up a VM on microsoft azure as a web server",
      "Configure Nginx to control ports 443 and 80",
      "Set up the linux environment with all required dependencies",
      // "Backend (Restful API) is deployed on railway using a docker container",
      // "Vercel is used for the frontend application with modification because this project use react-router instead of the folder base routing of NextJS",
      // "Docker container is used for the backend server and hosted on railway, docker allows to configure the environment and install necessary system dependencies that is required fro the face recognition and OpenCV to work as intended",
    ]}
  />

  <!-- Database  -->
  <Bidirectional left="Relational Database (PostgreSQL)" />
  <Point
    pointsList={[
      "Design the database that stores all data and attribute for students and course",
      "Set up all necessary relation to maintain data integrity",
      // "Create a one-to-one relationship with the student table and image table",
      // "Create a many-to-many relation between student table and course table",
    ]}
  />
</Section>
