---
import type { Params } from "../types/astro.types";

let { position } = Astro.params as Params;
position = position ?? "frontend";

const HEADLINE = {
  frontend:
    "Frontend developer with 3+ years of experience in React and NextJS ",
  backend:
    "Backend developer with 1+ years of experience in NodeJS and Express",
  fullStack:
    "Fullstack developer with 3+ years of experience in React, NextJS, NodeJS and Express",
  communication: "Communication",
};
---

<p class="head-line">
  {HEADLINE[position]}
</p>

<style>
  .head-line {
    margin: auto;
    text-align: center;
    margin-bottom: 0.7rem;
    margin-top: -0.5rem;
    /* max-width: 30rem; */
    font-style: italic;
    font-weight: 600;
  }

  span {
    text-decoration: underline;
  }
</style>
