---
import Section from "../layouts/Section.astro";
import Bidirectional from "../components/Bidirectional.astro";
import Point from "../components/Point.astro";
---

<Section title="Leadership">
  <Bidirectional left="Student Representative" />
  <Point
    pointsList={[
      "Student Representative for 80 students where I help facilitate the communication between the teaching staff and the students and helped organize for multiple events",
    ]}
  />
  <Bidirectional left="ASU Racing Team" />
  <Point
    pointsList={[
      "Media Team member with 100% project completion rate",
      "Render and design formula-1 Car",
      "Design Banner, roll-up and Social media posts",
    ]}
  />
</Section>
