---
import Section from "../layouts/Section.astro";
import Point from "../components/Point.astro";
---

<Section title="Programming Skills">
  <Point pointsList={[
    "Proficient in Unix/Linux environment and Bash scripting.",
    "Proficient Languages (C++, Python , Matlab, HTML, CSS, JavaScript, Dart )",
    "Frameworks (Flutter, React, Flask, Next JS)",
    "Proficient in GIT version control",
    "Working Knowledge of databases (MySQL)",
    "Object Oriented Programming",
    "Great Documentation Skills"
  ]} />
</Section>
