---
import Section from "../layouts/Section.astro";
import Point from "../components/Point.astro";

const route = Astro.url.pathname;

let points;
let title;
if (route === "/communication") {
  title = "Enginnering Skills";
  points = [
    "Proficiency in a variety of communication engineering software, including MATLAB, Simulink, and Cadence.",
    "Strong analytical and problem-solving skills.",
    "Excellent communication and teamwork skills.",
    "Proven ability to work independently and as part of a team.",
    "A passion for engineering and a desire to learn new things.",
  ];
} else {
  title = "Programming Skills";
  points = [
    "Proficient Languages (JavaScript, HTML, CSS, Python)",
    "Proficient Frameworks (React, Express, FastAPI, Next JS)",
    "Working Knowledge of databases (MongoDb, MySQL, postgreSQL)",
    "Proficient in styling tools such as Tailwind, Material UI, CSS Modules, and SCSS.",
    "Working knowledge with SAAS tools (SupabaseAuth, Firebase)",
    "Proficient in GIT version control (GIT)",
    "Experienced with ORMs (Mongoose, SQLalchemy)",
    "Powerful skills in API development, specifically for web use",
    "Experienced in Unix/Linux environment",
    "OOP and Functional Programming",
    "Great Documentation Skills",
    "Strong communication expertise and interpersonal skills",
  ];
}
---

<Section title={title}>
  <div class="two-col">
    <Point pointsList={points.slice(0, points.length / 2)} />
    <Point pointsList={points.slice(points.length / 2, points.length)} />
  </div>
</Section>

<style>
  .two-col {
    display: flex;
    gap: 1rem;
  }
</style>
