---
import Bidirectional from "../components/Bidirectional.astro";
import Section from "../layouts/Section.astro";
---

<Section title="Projects">
  <div>
    <Bidirectional
      left="Careem Landing Page Clone"
      right="Live Link"
      href="https://careem-clone.vercel.app/"
    />
    <p>
      I have created a clone of the Careem landing page. The landing page was
      responsive and mobile-friendly, and was built using the latest front-end
      technologies. I was able to create a landing page that was visually
      appealing and easy to use.
    </p>
  </div>
  <div>
    <Bidirectional
      left="World Wide Recipe"
      right="Live Link"
      href="https://world-wide-recipe.vercel.app/"
    />
    <p>
      This website allows users to search for and view food recipes from a
      variety of sources. The website uses an API to access the recipes, which
      means that the recipes are always up-to-date. Users can filter the recipes
      by cuisine, ingredient, or dietary restriction.
    </p>
  </div>
  <div>
    <Bidirectional
      left="Gradgen"
      right="Live Link"
      href="https://gradgen-amber.vercel.app"
    />
    <p>
      A web app that allows the user to enter the number of colors that they
      want and the angle of rotation the they the image to be then generate a
      random linear gradient with the given and allow the users to download the
      linear gradient as an image
    </p>
  </div>

  <div>
    <Bidirectional
      left="Student Inc Landing Page"
      right="Live Link"
      href="https://workforce-development-solutions.vercel.app/"
    />
    <p>
      I have successfully developed a landing page with an eye-catching design
      and user-friendly features for our Student Inc project. The landing page
      aims to promote our project and encourage visitors to learn more about
      what we do.
    </p>
  </div>
  <div>
    <Bidirectional left="Social Media App (Instagram Clone)" right="" />
    <p>
      Designed a social media app that is inspired by Instagram. The App include
      authentication and a real time data base using server less cloud
      technologies
    </p>
  </div>
  <div>
    <Bidirectional left="Photo Search App" right="" />
    <p>
      This App that uses pixabay API to search images based on keywords that the
      user inputs, once the images are retrieved the images are displayed on
      your screen.
    </p>
  </div>
  <div>
    <Bidirectional left="Covid-19 (Virus) Simulator" right="" />
    <p>
      This project aims to simulate virus spreed among a group of people in
      different zones. The zones limit the spread of the virus because of lower
      number of sick in each zone
    </p>
  </div>
  <div>
    <Bidirectional left="News Summary App" right="" />
    <p>
      News app that uses Next JS to utilize server side rendering that includes
      fetch the date and rendering the html page then pushing it to the client
    </p>
  </div>
  <div>
    <Bidirectional left="Runner/Mario Video Game" right="" />
    <p>
      Developed a 2D Mario Like game with character and enemies with complex
      enemy generation and check for objects collision with each other
    </p>
  </div>
</Section>
