---
import Section from "../layouts/Section.astro";

const route = Astro.url.pathname;

let skills;
if (route === "/communication") {
  skills = ["Python", "C++", "Linux", "Git", "AWS", "Microsoft Azure", "Bash"];
} else {
  skills = [
    /** Frontend */
    "React",
    "Redux/Toolkit",
    "Jotai",
    // "Next Js",
    // "HTML",
    // "CSS",
    "Tailwind",
    "MUI",
    "DataGrid",
    "JavaScript",
    "TypeScript",
    // "FetchAPI",

    /* Backend */
    "Node JS",
    "Express JS",
    "Python",
    // "Django",
    // "FastAPI",

    /** Stacks */
    "MERN Stack",

    /* ML/AI */
    // "Image Processing",
    // "Machine Learning",
    // "OpenCV",

    /* Databases */
    // "SQLAlchemy",
    "PostgreSQL",
    "MongoDB",
    "Supabase",
    "Firebase",

    /** Other */
    // "Docker",
    // "Flutter",
    // "Astro",
    // "C++",
    // "Linux",
    "Git",
  ];
}
---

<Section title="Relevant Skills">
  <div>
    {skills.map((item) => <p class="skill">{item}</p>)}
  </div>
</Section>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .skill {
    font-size: 0.9rem;
    padding: 0.12rem 0.9rem;
    color: white;
    background-color: var(--black);
    border-radius: 999px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
  }

  @media print {
    .skill {
      -webkit-print-color-adjust: exact !important;
      /* Chrome, Safari 6 – 15.3, Edge */
      color-adjust: exact !important;
      /* Firefox 48 – 96 */
      print-color-adjust: exact !important;
      /* Firefox 97+, Safari 15.4+ */
    }
  }
</style>
