---
import Section from "../layouts/Section.astro";
import Point from "../components/Point.astro";
import Bidirectional from "../components/Bidirectional.astro";
---

<Section title="Experience">
  <div class="mb">
    <Bidirectional left="TUV Austria" right="Sheikh Zayed" />
    <Bidirectional
      className="job-title"
      left="Frontend Developer"
      right="June 2023 - Current"
    />
    <Point
      pointsList={[
        "Migrate from wordpress to NextJS",
        "Developed and maintained user interfaces for web application using NextJs, ContextAPI, Tailwind.",
        "Built and implemented reusable UI components and libraries",
        "Designed responsive web pages of user interface",
        "Partnered with designer teams to take wireframes from conception to implementation.",
        "Wrote comprehensive code documentation, including inline comments, docblocks, and README files.",
      ]}
    />
  </div>

  <div class="mb">
    <Bidirectional left="TUV Austria" right="Sheikh Zayed" />
    <Bidirectional
      className="job-title"
      left="Wordpress Developer Internship"
      right="July 2023 - Current"
    />
    <Point
      pointsList={[
        "Meet with clients to discuss website design and function",
        "Design and build the website front-end using wordpress",
      ]}
    />
  </div>

  <div class="mb">
    <Bidirectional left="Systel (Motorola)" right="Smart Village" />
    <Bidirectional
      className="job-title"
      left="Internship"
      right="July 2022 - Sep 2022"
    />
    <Point
      pointsList={[
        "Design an access point system using Link Planer and make basic configuration and give an IP address",
        "Install Optic fiber cables, make connection and test using laser and power meter",
        "Aligning the microwaves for a clear line of sight point to point (antennas panning)",
        "Design and configure surveyance systems by setting up switches, cameras, NVR or DVR",
        // "Design an access point system with the aim of connecting remote areas to a central tower Using Link Planer to figure out the obstacles in the way of the master-slaves, then log on the device to make basic configuration and give an IP address",
        // "Understand the infrastructure of the two way systems and the design requirement according to the environment and the terrain, work on the electronics and the configuration or programming of the walkie-talkie",
        // "Install Optic fiber cables, make connection using fusion technique and pig tails,and test using laser and power meter. Understand how to decide the appropriate cable to use according to requirements",
        // "Aligning the microwaves for a clear line of sight point to point (antennas panning), then Use link planner for performance by checking for noise interference and find the clearest frequency. Understand Different Radio Link Mode Layout",
        // "Design and configure surveyance systems by setting up switches, cameras, NVR or DVR, then setting up a control room with a monitor to display the camera feed. Understand the concept of PoE power over Ip",
      ]}
    />
  </div>

  <div class="mb">
    <Bidirectional
      left="National Telecommunication Institute"
      right="Online (Covid-19)"
    />
    <Bidirectional
      className="job-title"
      left="Internship"
      right="July 2021 - Aug 2021"
    />
    <Point
      pointsList={[
        "Create deploy and manage Virtual Machines across clusters of Hosts",
        "Create storage system for the virtual machines",
        "Create security group and administrative level for managing the virtual machine",
        "Used KVM, CNA and Linux",
      ]}
    />
  </div>
</Section>

<style>
  .mb {
    margin-bottom: 0.5rem;
  }

  .job-title {
    font-size: 0.8rem;
    font-weight: 600;
  }
</style>
