---
const { left, right = null, href = null, className = null } = Astro.props;
---

<p class="point">
  <span class={className ? className : "point"}>{left}</span>
  {
    href ? (
      <a href={href} target="_blank">
        {right}
      </a>
    ) : (
      <span class={className ? className : "point"}>{right}</span>
    )
  }
</p>

<style>
  .point {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;

    font-size: 0.9rem;
    font-weight: 700;
  }
</style>
