---
const { left, right = null } = Astro.props;
---

<p class="point">{left}<span>{right}</span></p>

<style>
  .point {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.9rem;
    font-weight: 700;
  }
</style>
