---
const { left, right = null, href = null } = Astro.props;
---

<p class="point">
  {left}
  {
    href ? (
      <a href={href} target="_blank">
        {right}
      </a>
    ) : (
      <span>{right}</span>
    )
  }
</p>

<style>
  .point {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.9rem;
    font-weight: 700;
  }
</style>
