---
---

<header>
    <h1>My Resume</h1>
    <nav>
        <ul>
            <li>
                <a href="https://portfolio.ahmed-amer.tech" target="_blank">
                    Portofolio
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/jjahmedamer"
                    target="_blank"
                >
                    LinkedIn
                </a>
            </li>
            <li class="neon-bg">
                <a href="https://github.com/JJAHMEDAMER" target="_blank">
                    Github
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        background: #1f1e1e;
        padding-block: 1rem;
        padding-inline: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header > * {
        margin: auto;
    }

    h1 {
        color: rgb(242, 242, 242);
    }

    ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    header a {
        font-size: 1rem;
        font-weight: 800;
    }

    @media screen and (max-width: 500px) {
        h1 {
            margin-bottom: 1rem;
        }
    }

    @media print {
        header {
            display: none;
        }
    }
</style>
