---
import Bidirectional from "../../components/Bidirectional.astro";
import Point from "../../components/Point.astro";
---

<div class="mb">
  <Bidirectional
    left="Career Studio (Workforce Development Solution)"
    right="Los Angeles (Remote)"
  />
  <Bidirectional
    className="job-title"
    left="Frontend Lead (Internship)"
    right="June 2023 - Sep 2023"
  />
  <Point
    pointsList={[
      "Worked with designers and backend developers to implement new features and bug fixes.",
      "Mentoring the development team",
      "Communications with project manger and stakeholders",
      "GitHub Master code review and resolve merge conflicts",
      "Implement and maintain feature requirements using React, Tailwind, Redux ToolKit",
    ]}
  />
</div>
