---
import Section from "../../layouts/Section.astro";
import TUVAustria from "./TUVAusrtia.astro";
import CareerStudio from "./CareerStudio.astro";
import FPLChamp from "./FPLChamp.astro";
import MoVision from "./MoVision.astro";

const { position: urlPosition } = Astro.params;

let position: string = "FullStack Engineer";
let workExpList: { component: any; title?: string }[] = [
  { component: MoVision },
  { component: FPLChamp },
  { component: TUVAustria },
];

if (urlPosition) {
  if (urlPosition.toLowerCase() === "frontend") {
    position = "Frontend Engineer";
    workExpList = [
      { component: FPLChamp, title: "Frontend Engineer" },
      { component: MoVision, title: "Frontend Engineer" },
      { component: TUVAustria, title: "Frontend Engineer" },
      { component: CareerStudio, title: "Frontend Engineer" },
    ];
  } else if (urlPosition.toLowerCase() === "backend") {
    position = "Junior Backend Engineer";
    workExpList = [{ component: FPLChamp }, { component: TUVAustria }];
  }
}
---

<Section title="Experience">
  {
    workExpList.map((Item) => (
      <div class="mb">
        <Item.component position={Item.title || position} />
      </div>
    ))
  }
</Section>

<style>
  .mb {
    margin-bottom: 0.5rem;
  }
</style>
