---
import Section from "../../layouts/Section.astro";
import TUVAustria from "./TUVAusrtia.astro";
import CareerStudio from "./CareerStudio.astro";
import FPLChamp from "./FPLChamp.astro";
import MoVision from "./MoVision.astro";

const { position: urlPosition } = Astro.params;

let position: string = "Junior FullStack Engineer";
let workExpList = [MoVision, FPLChamp, TUVAustria, CareerStudio];

if (urlPosition) {
  if (urlPosition.toLowerCase() === "frontend") {
    position = "Junior Frontend Engineer";
    workExpList = [MoVision, FPLChamp, TUVAustria, CareerStudio];
  } else if (urlPosition.toLowerCase() === "backend") {
    position = "Junior Backend Engineer";
    workExpList = [FPLChamp, TUVAustria];
  }
}
---

<Section title="Experience">
  {
    workExpList.map((Item) => (
      <div class="mb">
        <Item position={position} />
      </div>
    ))
  }
</Section>

<style>
  .mb {
    margin-bottom: 0.5rem;
  }
</style>
