---
import Section from "../../layouts/Section.astro";
import TUVAustria from "./TUVAusrtia.astro";
import CareerStudio from "./CareerStudio.astro";
import NtiHciaCloud from "./NtiHciaCloud.astro";
import FPLChamp from "./FPLChamp.astro";
---

<Section title="Experience">
  <div class="mb">
    <FPLChamp />
  </div>
  <div class="mb">
    <TUVAustria />
  </div>
  <div class="mb">
    <CareerStudio />
  </div>
  <div class="mb">
    <NtiHciaCloud />
  </div>
</Section>

<style>
  .mb {
    margin-bottom: 0.5rem;
  }
</style>
